<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
      <param name ="file" value="target/logfile_test.log"/>
       <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] %-5p (%F:%L) - %m%n"/>
        </Console>
    </Appender>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>